@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
}

p {
    background-color: lightgreen;
    color: ghostwhite;
}
/* <section>, #about, #contact, .box */

#about {
    background-color: gold;
    color: darkorchid;
}

.box {
    background-color: black;
    color: whitesmoke;
}
section {
    background-color: lavender;
    color: khaki;
}
